 <!--/**
  * @file     header.ejs
  * @author   Nathan Levasseur
  * @version  1
  * @date     24/09/2025
  * @brief    code pour le header de base des pages(navbar)
  */-->

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h1 class="mb-0">Atelier10</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Accueil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
